<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">Instructions</div>
                <div id="insbody" class="modal-body slim">
                    <div id="instructions">
					Con los atajos de las teclas tambien tendrás que pulsar el botón izquierdo del ratón.
                    <p><p>
					<b>Resultado de daños: (Parte derecha de la pantalla)</b>
                    <br>
                    <ul>
  			<li><tt>Click con el botón izquierdo del ratón en un cuadrado de daño</tt>: Despliega los detalles del daño</li>			
                        <li><tt>Click con el botón central del ratón</tt>: Cambia el timing a Miss > Por debajo de Good > Good > Great > Perfect</li>
                        <li><tt>CTRL</tt>: Cambia el timing a Miss > Por debajo de Good > Good > Great > Perfect</li>
                        <li><tt>SHIFT</tt>: Cambia el color del oponente (Dentro del desplegable detallado)</li>
                        <li><tt>Drag &amp; Drop</tt>: Cambia el Orden de Ataque</li>
						<li><tt>Doble Click en el Fondo</tt>: Activa/Desactiva el Modo Noche</li>
                    </ul>
                    <br>
                    <b>Unidades (Parte central de la pantalla)</b>
                    <ul>
						<li><tt>Click con el botón central</tt>:Cambia el timing a Miss > Por debajo de Good > Good > Great > Perfect</li>
                        <li><tt>CTRL</tt>: Cambia el orbe a Favorable > Opuesto > Normal (Deberias hacer click en el orbe)</li> 
                        <li><tt>SHIFT (En un capitán)</tt>: Desactiva su habilidad de capitán </li>
                        <li><tt>ALT</tt>: Encadena la unidad</li>
                        <li><tt>SHIFT + ALT</tt>: Desactiva la unidad (Como Kuma raid)</li>
                        <li><tt>Drag &amp; Drop</tt>: Cambia la posicion de una unidad</li>
						<li><tt>Click en el nivel</tt>: Abre el selector de nivel</li>
						<li><tt>Click con el botón central del ratón en el nivel</tt>: Pone el nivel de la unidad a MAX</li>

                    </ul>
                    <br>
                    <b>Selector de nivel de Barcos (Panel izquierdo)</b>
                    <ul>
                       <li><tt>CTRL</tt>: Abre la ventana de selección de barcos</li> 
                    </ul>
                    <br>
                    <b>Defensa del enemigo: (Panel izquierdo)</b>
                    <ul>
                       <li><tt>CTRL</tt>: Abre la ventana de selección de dfensa</li> 
                    </ul>
                    <br>
                    <b>Estadisticas de equipo: (Debajo de las Unidades)</b>
                    <ul>
                        <li><tt>Selector de vida</tt>: Ajusta tus puntos de vida actuales</li>
                        <li><tt>Click Izquierdo en la vida</tt>: Ajusta tus puntos de vida actuales con el teclado numérico</li>
                    </ul>
                </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ui-sref="^">Volver</button> 
                </div>
            </div>
        </div>
    </div>

</div>