<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">Restablecer</div>
                <div class="modal-body slim">
                    ¿Estás seguro? No hay vuelta atrás e.e
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="resetStorage()">Sep</button> 
                    <button class="btn btn-primary" ui-sref="^">Nop</button> 
                </div>
            </div>
        </div>
    </div>

</div>
